@font-face {
	font-family: 'icomoon';
	src:url('/asset/css/font/icomoon.eot?-u4mg0v');
	src:url('/asset/css/font/icomoon.eot?#iefix-u4mg0v') format('embedded-opentype'),
		url('/asset/css/font/icomoon.woff?-u4mg0v') format('woff'),
		url('/asset/css/font/icomoon.ttf?-u4mg0v') format('truetype'),
		url('/asset/css/font/icomoon.svg?-u4mg0v#icomoon') format('svg');
	font-display: swap;	
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-student:before {
	content: "\e65d";
}

.icon-svg:before {
	content: "\e65e";
}

.icon-beetle:before {
	content: "\e65f";
}

.icon-handshake:before {
	content: "\e65a";
}

.icon-home:before {
	content: "\e600";
}

.icon-office:before {
	content: "\e601";
}

.icon-pencil:before {
	content: "\e602";
}

.icon-camera:before {
	content: "\e603";
}

.icon-books:before {
	content: "\e604";
}

.icon-library:before {
	content: "\e605";
}

.icon-cart:before {
	content: "\e606";
}

.icon-coin:before {
	content: "\e607";
}

.icon-credit:before {
	content: "\e608";
}

.icon-calculate:before {
	content: "\e609";
}

.icon-support:before {
	content: "\e60a";
}

.icon-phone:before {
	content: "\e60b";
}

.icon-address-book:before {
	content: "\e60c";
}

.icon-location:before {
	content: "\e60d";
}

.icon-map:before {
	content: "\e60e";
}

.icon-alarm:before {
	content: "\e60f";
}

.icon-bell:before {
	content: "\e610";
}

.icon-calendar:before {
	content: "\e611";
}

.icon-screen:before {
	content: "\e612";
}

.icon-mobile:before {
	content: "\e613";
}

.icon-tv:before {
	content: "\e614";
}

.icon-download:before {
	content: "\e615";
}

.icon-bubble:before {
	content: "\e616";
}

.icon-user:before {
	content: "\e617";
}

.icon-search:before {
	content: "\e618";
}

.icon-key:before {
	content: "\e619";
}

.icon-lock:before {
	content: "\e61a";
}

.icon-unlocked:before {
	content: "\e61b";
}

.icon-settings:before {
	content: "\e61c";
}

.icon-cog:before {
	content: "\e61d";
}

.icon-aid:before {
	content: "\e61e";
}

.icon-pie:before {
	content: "\e61f";
}

.icon-stats:before {
	content: "\e620";
}

.icon-gift:before {
	content: "\e621";
}

.icon-trophy:before {
	content: "\e622";
}

.icon-meter:before {
	content: "\e623";
}

.icon-hammer:before {
	content: "\e624";
}

.icon-remove:before {
	content: "\e625";
}

.icon-briefcase:before {
	content: "\e626";
}

.icon-earth:before {
	content: "\e627";
}

.icon-link:before {
	content: "\e628";
}

.icon-flag:before {
	content: "\e629";
}

.icon-eye:before {
	content: "\e62a";
}

.icon-star:before {
	content: "\e62b";
}

.icon-star2:before {
	content: "\e62c";
}

.icon-star3:before {
	content: "\e62d";
}

.icon-heart:before {
	content: "\e62e";
}

.icon-thumbs-up:before {
	content: "\e62f";
}

.icon-thumbs-up2:before {
	content: "\e630";
}

.icon-warning:before {
	content: "\e631";
}

.icon-info:before {
	content: "\e632";
}

.icon-cancel-circle:before {
	content: "\e633";
}

.icon-checkmark-circle:before {
	content: "\e634";
}

.icon-arrow-up:before {
	content: "\e635";
}

.icon-arrow-right:before {
	content: "\e636";
}

.icon-arrow-left:before {
	content: "\e637";
}

.icon-share:before {
	content: "\e638";
}

.icon-mail:before {
	content: "\e639";
}

.icon-googleplus:before {
	content: "\e63a";
}

.icon-facebook:before {
	content: "\e63b";
}

.icon-twitter:before {
	content: "\e63c";
}

.icon-feed:before {
	content: "\e63d";
}

.icon-youtube:before {
	content: "\e63e";
}

.icon-apple:before {
	content: "\e63f";
}

.icon-android:before {
	content: "\e640";
}

.icon-windows8:before {
	content: "\e641";
}

.icon-skype:before {
	content: "\e642";
}

.icon-reddit:before {
	content: "\e643";
}

.icon-delicious:before {
	content: "\e644";
}

.icon-stumbleupon:before {
	content: "\e645";
}

.icon-pinterest:before {
	content: "\e646";
}

.icon-file-pdf:before {
	content: "\e647";
}

.icon-file:before {
	content: "\e648";
}

.icon-pushpin:before {
	content: "\e64b";
}

.icon-bubbles:before {
	content: "\e64c";
}

.icon-users:before {
	content: "\e64d";
}

.icon-user2:before {
	content: "\e64e";
}

.icon-spinner:before {
	content: "\e656";
}

.icon-wrench:before {
	content: "\e64f";
}

.icon-cogs:before {
	content: "\e650";
}

.icon-bug:before {
	content: "\e651";
}

.icon-fire:before {
	content: "\e652";
}

.icon-airplane:before {
	content: "\e660";
}

.icon-accessibility:before {
	content: "\e65b";
}

.icon-brightness-medium:before {
	content: "\e657";
}

.icon-happy:before {
	content: "\e658";
}

.icon-sad:before {
	content: "\e65c";
}

.icon-notification:before {
	content: "\e653";
}

.icon-question:before {
	content: "\e654";
}

.icon-blocked:before {
	content: "\e655";
}

.icon-arrow-down:before {
	content: "\e659";
}

.icon-money_bag:before {
	content: "\e649";
}

.icon-law:before {
	content: "\e64a";
}

.icon-menu:before {
    content: "\e602";
}










