<div
  class="container-fluid"
  style="box-shadow: 0 0 25px rgba(0, 0, 0, 0.3)"
  id="whiteTopFooterHide"
>
  <div class="row">
    <div class="col-md-12">
      <div
        class="pad-tb-20 text-center"
        itemprop="aggregateRating"
        itemscope=""
        itemtype="https://schema.org/AggregateRating"
      >
        <ul class="footerItem">
          <li>
            <a
              href="https://www.expertise.com/ca/sacramento/bankruptcy-attorney"
              ><img
                src="https://www.ovlg.com/sites/all/themes/ovlg_bootstrap/ovlg/images/expertise-badge.webp"
                alt="expertise badge"
                height="100"
            /></a>
          </li>
          <li>
            <div>
              <a
                style="cursor: pointer"
                onclick="javascript:window.open('secure.bestoftheweb.com/BadgeInfo/16106781','_blank','toolbar=no,width=550,height=410,left=2125,top=178,scrollbars=1');"
                ><img
                  title="This site is verified as a Trusted Site by Best of the Web"
                  src="https://s3.amazonaws.com/botwcdn.org/trustbadges/badge-templates/green/130x49-8.png"
              /></a>
            </div>
            <script src="https://d20iczrsxk7wft.cloudfront.net/botwverified/badge.js?id=16106781"></script>
          </li>
          <li>
            <a
              target="_blank"
              href="http://www.bbb.org/sacramento/business-reviews/debt-relief-services/oak-view-law-group-apc-in-citrus-heights-ca-47014743"
              ><img
                src="/sites/all/themes/ovlg_bootstrap/ovlg/images/BBB-A-Rating.png"
                importance="low"
                alt="BBB-A-Rating"
            /></a>
          </li>
          <li
            itemprop="itemReviewed"
            itemscope=""
            itemtype="https://schema.org/Organization"
            style="position: relative; top: 25px; margin-bottom: 25px"
          >
            <img
              src="https://www.ovlg.com/sites/all/themes/ovlg_bootstrap/ovlg/images/BBB-accredited-rating.jpg"
              alt="4.8 rating"
            /><br />
            <a
              href="https://www.bbb.org/us/ca/citrus-heights/profile/debt-relief-services/oak-view-law-group-apc-1156-47014743"
              rel="nofollow"
              target="_blank"
              >Based on 82 reviews</a
            ><br />Years in Business:12 Years
            <meta itemprop="name" content="Oak View Law Group" />
          </li>
          <meta itemprop="reviewCount" content="82" />
          <meta itemprop="ratingValue" content="4.84" />
          <li>
            <!-- <iframe title="Trustlink" name="Trustlink" style="vertical-align: middle;margin:0 2%" src="https://trustlink.org/CompanyWidget.aspx?ID=206054627" width="140px" height="70px" scrolling="no" frameborder="0"></iframe>-->
            <img
              class="lazyloaded"
              data-src="https://www.ovlg.com/sites/files/TrustLink.jpg"
              alt="TrustLink logo"
              usemap="#Map"
              src="https://www.ovlg.com/sites/files/TrustLink.jpg"
            />
            <noscript>
              <img
                src="https://www.ovlg.com/sites/files/TrustLink.jpg"
                alt="TrustLink logo"
                usemap="#Map"
              />
            </noscript>

            <map name="Map" id="Map">
              <area
                alt=""
                title=""
                href="#"
                onclick="window.open('https://www.trustlink.org/WriteReviewP.aspx?CompanyID=/rlCIdTp+zkm1VWxYRRkYw==','Write Review for Oak View Law Group, APC','scrollbars=yes,width=750px,height=750px,left='+((screen.width -750) / 2)+',top='+ (screen.height - 750) / 2+'');return false;"
                shape="rect"
                coords="14,56,61,71"
              />
              <area
                alt="TrustLink logo"
                title=""
                href="https://www.trustlink.org/Reviews/Oak-View-Law-Group-APC-206054627"
                target="_blank"
                shape="rect"
                coords="82,56,127,71"
              />
            </map>
          </li>
          <li>
            <span
              title="Calchamber Member"
              name="Calchamber Member"
              class="common_sprite calchamber_Member"
              style="vertical-align: middle"
            ></span>
          </li>
          <li>
            <span
              title="Calbar Registered"
              name="Calbar Registered"
              class="common_sprite calbar"
              style="vertical-align: middle"
            ></span>
          </li>
          <!--<a title="Authorize" name="Authorize" href="http://verify.authorize.net/anetseal/?pid=031f0292-a297-4c01-be45-55e690e9ed30&rurl=http://www.ovlg.com/" class="authorize common_sprite" style="vertical-align: middle;"></a>-->
          <li>
            <span
              title="D&amp;B"
              name="D&amp;B"
              class="common_sprite DandB"
              style="vertical-align: middle"
            ></span>
          </li>
          <li>
            <a
              title="Godaddy"
              name="Godaddy"
              href="https://seal.godaddy.com/verifySeal?sealID=soavTJ602i4zePU9VC0bdypC9PUhYG8SMgjj60novyzjcaPxLs"
              class="go_daddy common_sprite"
              style="vertical-align: middle"
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer
  class="bg-brown-dark pad-tb-20"
  id="footer"
  itemscope=""
  itemtype="https://schema.org/WPFooter"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <div class="row">
          <div class="col-md-8">
            <div class="footer_content">
              <div
                class="colr-white"
                style="font-size: 1.2em; font-weight: bold; padding: 10px 0"
              >
                Quick Links
              </div>
              <ul class="footer-links">
                <li><a href="/privacy/">Privacy Policy</a></li>
                <li><a href="/newsletters/">Newsletters</a></li>
                <li><a href="/sitemap/">Sitemap</a></li>
              </ul>
              <div class="font-size-13">
                <p>
                  The services of Oak View Law Group (OVLG) and its affiliates
                  may not be available in all states. OVLG along with its Of
                  Counsel attorneys may also be referred to as "Oak View Law
                  Group", "we", "us" or "the firms".<br />
                  Copyright © 2015 Oak View Law Group
                </p>

                <strong>Contact us at:-</strong>
                <div>Oak View Law Group APC</div>
                <div>
                  11899 Edgewood Road, Suite L4, Auburn, CA 95603-3536, United
                  States
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div
              class="colr-white"
              style="font-size: 1.2em; font-weight: bold; padding: 10px 0"
            >
              Stay Connected
            </div>
            <div>
              <a
                title="Facebook"
                name="Facebook"
                href="http://www.facebook.com/OVLGroup"
                class="font-size-34 colr-white mar-r-10"
                ><em class="fa fa-facebook-square"></em
              ></a>
              <a
                title="Twitter"
                name="Twitter"
                href="http://twitter.com/ovlg"
                class="font-size-34 colr-white mar-r-10"
                ><em class="fa fa-twitter-square"></em
              ></a>
              <a
                title="Pinterest"
                name="Pinterest"
                href="http://www.pinterest.com/ovlgroup/"
                class="font-size-34 colr-white mar-r-10"
                ><em class="fa fa-pinterest-square"></em
              ></a>
              <a
                title="Youtube"
                name="Youtube"
                href="https://www.youtube.com/user/OVLGroup"
                class="font-size-34 colr-white"
                ><em class="fa fa-youtube-square"></em
              ></a>
            </div>
          </div>
        </div>
        <div class="container-fluid pad-t-10 mar-t-10">
          <div class="font-size-13">
            <strong>Disclaimer:</strong> The contents of this web site are not
            intended to establish an attorney-client relationship, provide the
            reader with legal advice, or substitute for legal advice from an
            attorney.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="position: relative" class="go-to-top" onclick="Fnslideup();">
    <a href="javascript:void(0)" class="Top fa fa-angle-up"></a>
  </div>

  <div
    style="
      display: none;
      width: 250px;
      position: fixed;
      left: 0;
      bottom: 57px;
      z-index: 101;
      font-size: 1.5rem;
    "
    class="SurveyPointer"
    id="SurveyPointerDiv"
  >
    <div
      title="Click to open"
      onclick="FnOpenSurveyPointerBox()"
      class="cta2_btn padding10 colr-black text-center"
      id="SurveyPointerTab"
      style="cursor: pointer; font-weight: bold"
    >
      Report bug/Send feedback
      <span class="icon-arrow-up float_right padding0_5"></span>
      <span
        class="icon-cancel-circle pad-l-10 colr-red"
        onclick="SurveyPointerBox();"
      ></span>
    </div>
    <div style="display: none" id="SurveyPointer">
      <div class="pad-5 colr-grey bg-grey text-center" title="Feedback">
        <strong>Help us improve<br />our service and website</strong>
      </div>
      <p class="text-center colr-green font-size-13">
        <span class="font-size-32 colr-green-green">Your opinion matters!</span
        ><br />
        Tell us what you feel about
      </p>
      <div style="text-align: center; padding: 0px 0px 10px">
        <a
          class="btn btn-primary"
          href="/ovlg_feedback"
          onclick="return SendVisitorToSecureSite('/ovlg_feedback',true);"
          >Our Services</a
        >
        <a
          class="btn btn-info"
          href="/survey"
          onclick="return SendVisitorToSecureSite('/survey',true);"
          >Our Website</a
        >
      </div>
      <div class="common_sprite feedback-graph col-xs-12 center-block"></div>
      <div class="text-center col-xs-12">
        <a
          class="colr-blue"
          href="/survey/results.php"
          onclick="return SendVisitorToSecureSiteForSurvey('/survey/results.php?q=feedback',true);"
          >View survey result</a
        >
      </div>
      <div class="text-center col-xs-12 bg-white" style="line-height: 20px">
        <div
          class="text-center colr-black font-size-18"
          style="padding: 10px 0"
        >
          <b>Client Satisfaction Rate</b>
        </div>
        <strong style="color: #3b71d2">Very satisfied: 71%</strong><br />
        <span style="color: #e04210">Satisfied: 13%</span><br />
        <span style="color: #ffa400">Undecided: 6%</span><br />
        <span style="color: #0da019">Dissatisfied: 3%</span><br />
        <span style="color: #a300a3">Very Dissatisfied: 7%</span><br />
      </div>
    </div>
  </div>

  <!--  <div style="float:right;right:20%;bottom:0;position:fixed;z-index:1" id="php-live-helper-chat-div">
<div class="" id="popup-notification" onclick="FnOpenLiveHelperChat()" style="">
  <div class="chat-live">
      <div title="Click to open" style="cursor:pointer" class="cta2_btn padding10 " id="phpliveTab">
          <span class="icon-bubble padding0_5"> </span>Chat-live-helperchat
      </div>
      </div>
</div>
</div>-->

  <br class="clear" />
</footer>
<script type="text/javascript">
  var LHCChatOptions = {};
  LHCChatOptions.opt = {
    widget_height: 340,
    widget_width: 300,
    popup_height: 520,
    popup_width: 500,
  };
  (function () {
    var po = document.createElement("script");
    po.type = "text/javascript";
    po.async = true;
    var referrer = document.referrer
      ? encodeURIComponent(
          document.referrer.substr(document.referrer.indexOf("://") + 1)
        )
      : "";
    var location = document.location
      ? encodeURIComponent(
          window.location.href.substring(window.location.protocol.length)
        )
      : "";
    po.src =
      "https://www.ovlg.com/livehelperchat/lhc_web/index.php/chat/getstatus/(click)/internal/(position)/bottom_right/(ma)/br/(top)/350/(units)/pixels/(leaveamessage)/true/(department)/2?r=" +
      referrer +
      "&l=" +
      location;
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(po, s);
  })();
</script>

<style>
  #lhc_status_container {
    background-color: #2e80c5;
  }
  #lhc_header {
    background-color: #2e80c5;
  }
</style>
