<footer class="bg-brown-dark pad-tb-20" id="footer" itemscope="" itemtype="https://schema.org/WPFooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                <div class="row">
                    <div class="col-md-8">
                        <div class="footer_content">
                            <div class="colr-white" style="font-size: 1.2em; font-weight: bold; padding: 10px 0;">Quick
                                Links</div>
                            <ul class="footer-links">
                                <li><a href="/privacy/">Privacy Policy</a></li>
                                <li><a href="/newsletters/">Newsletters</a></li>
                                <li><a href="/sitemap/">Sitemap</a></li>
                            </ul>
                            <div class="font-size-13">
                                <p> The services of Oak View Law Group (OVLG) and its affiliates may not be available in
                                    all states. OVLG along with its Of Counsel attorneys may also be referred to as "Oak
                                    View Law Group", "we", "us" or "the firms".<br>
                                    Copyright © 2015 Oak View Law Group</p>

                                <strong>Contact us at:-</strong>
                                <div>Oak View Law Group APC</div>
                                <div> 11899 Edgewood Road, Suite L4, Auburn, CA 95603-3536, United States </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="colr-white" style="font-size: 1.2em; font-weight: bold; padding: 10px 0;">Stay
                            Connected</div>
                        <div>
                            <a title="Facebook" name="Facebook" href="http://www.facebook.com/OVLGroup"
                                class="font-size-34 colr-white mar-r-10"><em class="fa fa-facebook-square"></em></a>
                            <a title="Twitter" name="Twitter" href="http://twitter.com/ovlg"
                                class="font-size-34 colr-white mar-r-10"><em class="fa fa-twitter-square"></em></a>
                            <a title="Pinterest" name="Pinterest" href="http://www.pinterest.com/ovlgroup/"
                                class="font-size-34 colr-white mar-r-10"><em class="fa fa-pinterest-square"></em></a>
                            <a title="Youtube" name="Youtube" href="https://www.youtube.com/user/OVLGroup"
                                class="font-size-34 colr-white"><em class="fa fa-youtube-square"></em></a>
                        </div>
                    </div>
                </div>
                <div class="container-fluid  pad-t-10 mar-t-10">
                    <div class="font-size-13 ">
                        <strong>Disclaimer:</strong> The contents of this web site are not intended to establish an
                        attorney-client relationship, provide the reader with legal advice, or substitute for legal
                        advice from an attorney.

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="position:relative" class="go-to-top" onclick="Fnslideup();"><a href="javascript:void(0)"
            class="Top fa fa-angle-up"></a></div>


    <div style="display: none; width: 250px; position:fixed; left:0; bottom:57px; z-index:101; font-size: 1.5rem;"
        class="SurveyPointer" id="SurveyPointerDiv">
        <div title="Click to open" onclick="FnOpenSurveyPointerBox()" class="cta2_btn padding10 colr-black text-center"
            id="SurveyPointerTab" style="cursor:pointer; font-weight: bold">Report bug/Send feedback <span
                class="icon-arrow-up float_right padding0_5"></span> <span class="icon-cancel-circle pad-l-10 colr-red"
                onclick="SurveyPointerBox();"></span></div>
        <div style="display: none;" id="SurveyPointer">
            <div class="pad-5 colr-grey bg-grey text-center" title="Feedback"><strong>Help us improve<br>our service and
                    website</strong></div>
            <p class="text-center colr-green font-size-13"><span class="font-size-32 colr-green-green">Your opinion
                    matters!</span><br> Tell us what you feel about</p>
            <div style="text-align: center; padding: 0px 0px 10px;"><a class="btn btn-primary" href="/ovlg_feedback"
                    onclick="return SendVisitorToSecureSite('/ovlg_feedback',true);">Our Services</a> <a
                    class="btn btn-info" href="/survey" onclick="return SendVisitorToSecureSite('/survey',true);">Our
                    Website</a></div>
            <div class="common_sprite feedback-graph col-xs-12 center-block"></div>
            <div class="text-center col-xs-12"><a class="colr-blue" href="/survey/results.php"
                    onclick="return SendVisitorToSecureSiteForSurvey('/survey/results.php?q=feedback',true);">View
                    survey result</a></div>
            <div class="text-center col-xs-12 bg-white" style="line-height: 20px;">
                <div class="text-center colr-black font-size-18" style="padding: 10px 0"><b>Client Satisfaction Rate</b>
                </div>
                <strong style="color:#3B71D2">Very satisfied: 71%</strong><br>
                <span style="color:#E04210">Satisfied: 13%</span><br>
                <span style="color:#FFA400">Undecided: 6%</span><br>
                <span style="color:#0DA019">Dissatisfied: 3%</span><br>
                <span style="color:#A300A3">Very Dissatisfied: 7%</span><br>
            </div>
        </div>
    </div>



    <!--  <div style="float:right;right:20%;bottom:0;position:fixed;z-index:1" id="php-live-helper-chat-div">
<div class="" id="popup-notification" onclick="FnOpenLiveHelperChat()" style="">
  <div class="chat-live">
      <div title="Click to open" style="cursor:pointer" class="cta2_btn padding10 " id="phpliveTab">
          <span class="icon-bubble padding0_5"> </span>Chat-live-helperchat
      </div>
      </div>
</div>
</div>-->

    <br class="clear">
</footer>