<header>
    <div class="bg-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10">
                    <div class="row">
                        <div class="col-xs-8 col-sm-4">
                            <a href="/"><img class="logo img-responsive " src="/asset/images/logo.png"
                                    alt="OVLG logo"></a>
                        </div>
                        <!-- <div class="col-sm-6 col-xs-6 text-center mobwidth100"><h1 class="heading_size">Hope For Financially Challenged Since 2007</h1></div> -->
                        <div class="col-xs-8 mobile_hide text-right mar-b-20">
                            <div class="ff-Oswald font-size-22 pad-tb-10 pad-lr-20 mar-r-20 text-center"
                                style="border:#ddd solid 1px; display:inline-block;">
                                <span>Free Consultations</span> <a href="tel:+18005306854"
                                    title="Call Toll Free: (800)-530-OVLG" class="bannerCTAlink colr-brown"><span
                                        class="glyphicon glyphicon-earphone"></span> <b>(800)-530-OVLG</b></a>
                            </div>

                            <div style="display: inline-block;">
                                <span class=""> </span>

                                <a style="display:inline-block;" target="_blank"
                                    href="http://www.bbb.org/sacramento/business-reviews/debt-relief-services/oak-view-law-group-apc-in-citrus-heights-ca-47014743"><img
                                        style="width: 80px;" src="/asset/images/BBB-A-Rating.png" alt="BBB-A-Rating"
                                        importance="low"></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>













<div class="navbar-fixed-top1" id="navigation" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                <div class="row">
                    <div class="navbar-header">
                        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <nav role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                            <div class="region region-navigation">
                                <div id="block-system-main-menu" class="block block-system block-menu">


                                    <div class="content">
                                        <ul class="nav navbar-nav">
                                            <li class="first leaf" itemprop="name"><a href="/attorneys" title=""
                                                    itemprop="url">Attorneys</a></li>
                                            <li class="leaf" itemprop="name"><a href="/practices" itemprop="url">Our
                                                    Services</a></li>
                                            <li class="leaf" itemprop="name"><a href="/reviews" title=""
                                                    itemprop="url">Reviews</a></li>
                                            <li class="expanded dropdown" itemprop="name"><a href="/tools"
                                                    data-target="#" class="dropdown-toggle" data-toggle="dropdown"
                                                    itemprop="url">Tools and Guides <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li class="first leaf" itemprop="name"><a href="/education"
                                                            title="Education" itemprop="url">Education</a></li>
                                                    <li class="leaf" itemprop="name"><a href="/letters"
                                                            itemprop="url">Sample Letters</a></li>
                                                    <li class="leaf" itemprop="name"><a href="/weekly-waterfall-tips"
                                                            itemprop="url">Weekly Waterfall Tips</a></li>
                                                    <li class="leaf" itemprop="name"><a href="/payday-loan-laws"
                                                            itemprop="url">Payday Loan Laws</a></li>
                                                    <li class="leaf" itemprop="name"><a
                                                            href="https://www.ovlg.com/calculators/" title=""
                                                            itemprop="url">Calculators</a></li>
                                                    <li class="last leaf" itemprop="name"><a href="/blog" title="Blog"
                                                            itemprop="url">Blog</a></li>
                                                </ul>
                                            </li>
                                            <li class="expanded dropdown" itemprop="name"><a href="/about-us"
                                                    data-target="#" class="dropdown-toggle" data-toggle="dropdown"
                                                    itemprop="url">About Us <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li class="first leaf" itemprop="name"><a href="/history"
                                                            itemprop="url">Our History</a></li>
                                                    <li class="leaf" itemprop="name"><a href="/no-results-refund-policy"
                                                            itemprop="url">No Result Refund Policy</a></li>
                                                    <li class="leaf" itemprop="name"><a href="/ftc-disclosures"
                                                            itemprop="url">FTC Disclosure</a></li>
                                                    <li class="leaf" itemprop="name"><a href="/transparency"
                                                            itemprop="url">Transparency Disclosure</a></li>
                                                    <li class="leaf" itemprop="name"><a href="/success/stories.php"
                                                            title="" itemprop="url">Success Stories</a></li>
                                                    <li class="leaf" itemprop="name"><a href="/scam.html"
                                                            itemprop="url">Report Collection Scam</a></li>
                                                    <li class="leaf" itemprop="name"><a href="/privacy"
                                                            itemprop="url">Privacy Policy</a></li>
                                                    <li class="last leaf" itemprop="name"><a href="/survey/results.php"
                                                            itemprop="url">Client survey results</a></li>
                                                </ul>
                                            </li>
                                            <li class="last expanded dropdown" itemprop="name"><a href="/contact-us"
                                                    data-target="#" class="dropdown-toggle" data-toggle="dropdown"
                                                    itemprop="url">Contact Us <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li class="first leaf" itemprop="name"><a href="/contact-us"
                                                            title="" itemprop="url">Phone &amp; Emails</a></li>
                                                    <li class="leaf" itemprop="name"><a href="/contact-us/people.html"
                                                            itemprop="url">People</a></li>
                                                    <li class="leaf" itemprop="name"><a href="/contact-us/address.html"
                                                            itemprop="url">Addresses</a></li>
                                                    <li class="last leaf" itemprop="name"><a href="/complaints"
                                                            itemprop="url">Complaint Box</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li itemprop="name"><a href="/users/login" itemprop="url"><span
                                            class="glyphicon glyphicon-log-in"></span> Login</a> </li>
                                <!--li> <a href="/demo/">Demo</a></li-->
                                <li itemprop="name">
                                    <div class="search">
                                        <form class="form-search content-search" action="/" method="post"
                                            id="search-block-form" accept-charset="UTF-8">
                                            <div>
                                                <div>
                                                    <div class="element-invisible">Search form</div>
                                <li class="searchbar" itemprop="name"><i class="fa fa-search mobile_hide"
                                        aria-hidden="true"></i></li>
                                <div class="togglesearch togglesearchhide mobile_hide"><input
                                        title="Enter the terms you wish to search for." placeholder="Search"
                                        class="form-control form-text" type="text" id="edit-search-block-form--2"
                                        name="search_block_form" value="" size="15" maxlength="128"><button
                                        type="submit" id="textButton" class="btn btn-primary srch-submit"> <span
                                            class="icon glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </div>
                                <div class="form-actions form-wrapper form-group" id="edit-actions--2"><button
                                        class="element-invisible btn btn-primary form-submit" type="submit"
                                        id="edit-submit--2" name="op" value="Search">Search</button>
                                </div><input type="hidden" name="form_build_id"
                                    value="form-9lk4FQ94qMTz9Kzqmx48QzWsOC5SEv5-I2LrWDdLnuQ">
                                <input type="hidden" name="form_id" value="search_block_form">
                    </div>
                </div>
                </form>
            </div>
            </li>
            </ul>
            </nav>
        </div>
    </div>
</div>
</div>
</div>
</div>