<div class=" node-type-home-page navbar-is-fixed-top">

    <div data-include="header"></div>

    <div class="container-fluid  body_bg">

        <div data-include="banner"></div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 " style="min-height: 400px;">
                <div class="row">
                    <div class="col-md-12 bg-white round-10 mar-tb-10 main-container pad-tb-20">

                        <div data-include="breadcrumb"></div>

                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-9">
                                <h1 id="letters_title" letter-title=""></h1>
                            </div>
                            <div class="col-md-3">
                                <div data-include="tools"></div>
                            </div>
                        </div>

                        <div letter-include-file=""></div>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div data-include="footer"></div>
</div>