<div class="btn-group pad-t-20 pull-right" role="group">
    <!--<a id="opener" href="#"  class="btn btn-primary">-->
    <a onclick="download_pdf_and_show()" href="#" class="btn btn-success">
        <span class="glyphicon glyphicon-save colr-green-green"></span> Get PDF Version
    </a>
    <!--<a id="opener1" href="#"  class="btn btn-primary">-->
    <a onclick="print_and_show()" href="#" class="btn btn-success">
        <span class="glyphicon glyphicon-print colr-green-green"></span> Print
    </a>
</div>